/* general body properties */
 body {
     background-color: #F2F2F2;
     font-weight: normal;
     font-family: 'Arial', "Segoe UI", Helvetica, 'Source Sans Pro', 'Open Sans', sans-serif;
     font-size: 14px;
     line-height: 1.4;
     margin-top: 30px;
     margin-left: 140px;
     margin-right: 140px;
}
 a, a:hover {
     color: #990615;
}
 h1 {
     font-family: 'Segoe UI Black',Helvetica, Arial, 'Source Sans Pro', 'Open Sans', sans-serif;
     font-size: 55px;
     text-align: left;
     vertical-align: center;
     padding-left: 0px;
     margin-bottom: 0px;
     display:inline;
}
 h2{
     font-family: 'Segoe UI Black', Helvetica, Arial, 'Source Sans Pro', 'Open Sans', sans-serif;
}
 footer{
     text-align: center;
     margin-top: 70px;
     margin-bottom: 40px;
}
 .content {
     margin-bottom: 30px;
     vertical-align: top;
     padding-left: 10px;
}
 #cnname {
     font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
     font-size: 20px;
     font-weight: 100;
     display:inline;
}
 #sublogo{
     margin-top: 0px;
}
 #first_panel{
     background-color: #FAF9FF !important;
     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
     margin-top: 40px;
     padding-bottom: 0px;
}
 #second_panel{
     background-color: #F2EBDF !important;
     box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
     padding-top: 40px;
     padding-bottom: 40px;
     padding-left: 100px;
     padding-right: 100px;
     margin-top: 10px;
     margin-bottom: 60px;
}
 #me {
     text-align: justify;
     padding: 40px;
}
 #links {
     width: 1000px;
     table-layout: fixed 
}
 #links td{
     width: 100%;
}
 #avatar {
     width: 410px;
     height:auto;
     padding: 0px;
     text-align: left;
     vertical-align: middle;
}
 